@page "/play/{adventureID:int}"
@inject IAdventureRepository adventureRepository

@if (adventureDTO != null)
{
    <div class="play mb-3">
        <h4>@adventureDTO.ChapterList[currentChapter].Title</h4>

        <img class="my-3" src="@adventureDTO.ChapterList[currentChapter].Image" />

        <p>@adventureDTO.ChapterList[currentChapter].Description</p>

        <p><i>@adventureDTO.ChapterList[currentChapter].Event</i></p>

        @foreach (var link in @adventureDTO.ChapterList[currentChapter].Links)
        {
            <button class="btn btn-primary btn-block" @onclick="(() => GoToChapter(link.Target))">@link.Target @link.Description</button>
        }
    </div>
}
else
{
    <p>something's wrong</p>
}

@code {
    [Parameter] public int adventureID { get; set; }
    AdventureDTO adventureDTO;
    int currentChapter = 0;

    protected async override Task OnInitializedAsync()
    {
        adventureDTO = await adventureRepository.GetAdventureDTO(adventureID);
    }

    public void GoToChapter(int target)
    {
        target = adventureDTO.ChapterList.FindIndex(x => x.ID == target);
        currentChapter = target;
    }
}
