<EditForm Model="Project" OnValidSubmit="OnDataAnnotationsValidated">
    <DataAnnotationsValidator />

    @* PROJECT TITLE *@
    <div class="form-group">
        <label>Title:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Project.Title" />
            <ValidationMessage For="@(() => Project.Title)" />
        </div>
    </div>

    @* PROJECT GENRES *@
    <div class="form-group">
        <label>Genres:</label>
        <div>
            <MultipleSelector Selected="Selected" NotSelected="NotSelected" />
        </div>
    </div>

    @* PROJECT IMAGE *@
    <UploadImage Label="Main Image:" OnSelectedImage="OnSelectedImage" ImageURL="@_ImageURL" />

    @* PROJECT DESCRIPTION *@
    <div class="form-group">
        <label>Description:</label>
        <div>
            <InputTextArea class="form-control" @bind-Value="@Project.Description" />
            <ValidationMessage For="@(() => Project.Description)" />
        </div>
    </div>

    @* PROJECT DESCRIPTION *@
    <div class="form-group form-markdown">
            <InputMarkdown Label="Description" For="@(() => Project.Description)" @bind-Value="@Project.Description" />
    </div>

    @* BACK BUTTON *@
    <button class="btn btn-danger" @onclick="Back">Back</button>

    @* SUBMIT BUTTON *@
    <button class="btn btn-success" type="submit">Save Project</button>

</EditForm>

@code {

    #region ##### HEAD #####

    [Parameter] public Adventure Project { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public EventCallback Back { get; set; }

    [Parameter] public List<Genre> NotSelectedGenres { get; set; } = new List<Genre>();
    [Parameter] public List<Genre> SelectedGenres { get; set; } = new List<Genre>();

    private List<MultipleSelectorModel> NotSelected = new List<MultipleSelectorModel>();
    private List<MultipleSelectorModel> Selected = new List<MultipleSelectorModel>();

    string _ImageURL;

    #endregion

    #region ##### LIFECYCLE METHODS #####

    protected override void OnInitialized()
    {
        NotSelected = NotSelectedGenres.Select(x => new MultipleSelectorModel(x.ID.ToString(), x.Name)).ToList();
        Selected = SelectedGenres.Select(x => new MultipleSelectorModel(x.ID.ToString(), x.Name)).ToList();

        if (!string.IsNullOrEmpty(Project.Image))
        {
            _ImageURL = Project.Image;
            Project.Image = null; /*Stops the image from being sent if hasn't been changed*/
        }
    }

    #endregion

    #region ##### GENERAL METHODS #####

    private void OnSelectedImage(string imageBase64)
    {
        Project.Image = imageBase64;
    }

    // TODO: Comments
    private async Task OnDataAnnotationsValidated()
    {
        Project.AdventureGenres = Selected
            .Select(x => new AdventureGenre { GenreID = int.Parse(x.Key) }).ToList();

        if (!string.IsNullOrWhiteSpace(Project.Image))
        {
            _ImageURL = null;
        }

        await OnValidSubmit.InvokeAsync(null);
    }

    #endregion

}
